

<form ng-submit="SC.surveySubmit()">
  {{SC.username}}
  <input type="text" ng-model="SC.newSurvey.survey_question" placeholder="Survey Question">
  <input type="text" ng-model="SC.newSurvey.option_one" placeholder="Option 1">
  <input type="text" ng-model="SC.newSurvey.option_two" placeholder="Option 2">
  <input type="text" ng-model="SC.newSurvey.option_three" placeholder="Option 3">
  <input type="text" ng-model="SC.newSurvey.option_four" placeholder="Option 4">
  <input type="submit" name="submit">
</form>
